[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
librosa = "*"
numba = "*"
tensorflow = "*"
matplotlib = "*"
h5py = "*"
pydot = "*"
graphviz = "*"
pandas = "*"
streamlit = "*"

[requires]
python_version = "3.7"
